@import "src/utilities/variables";

// Stacks the depth color bar against each row on z axis
.color_bar {
  position: absolute;
  height: 100%;
  z-index: 1;
  top: -7px; //Kind of a magic number
  //Using transparentize instead of opacity because of a known CRA bug
  //https://stackoverflow.com/questions/58853844/the-opacity-value-was-changed-to-1-after-building-the-reacjs-project
  &.bid {
    float: right;
    right: 0;
    background-color: transparentize($green-primary, 0.8);
  }
  &.ask {
    background-color: transparentize($red-primary, 0.8);
  }
}

.body_row_wrapper {
  height: calc(100% / 16); //Assuming 16 is the max num of rows
  position: relative;
}

.body_row {
  display: flex;
  z-index: 0;
  &.ask {
    justify-content: flex-start;
    padding-right: 5%;
  }
  &.bid {
    justify-content: flex-end;
  }
}
